@font-face {
    font-family: TT Lakes;
    src: url('fonts/TTLakes-Light.woff');
}
@font-face {
    font-family: B Lakes;
    src: url('fonts/TTLakes-Bold.woff');
}
@font-face {
    font-family: Bl Lakes;
    src: url('fonts/TTLakes-Medium.ttf');
}
body{
    position: relative;
    min-width: 320px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #7E7E82;
    background: #F8F8F8;
    border-top: 1px solid #D9FFF5;
    margin: 0;
}
ul{
    padding: 0 0 0 16px;
}
html{
    display: block;
    margin: 0;
    padding: 0;
}
a.link:active,
a.link:hover,
a.link {
    text-decoration: none;
    color: #666;
}
.link__slider:focus{
    color: #B5B6BC;
}
.heading__container {
    display: inline-block;
    justify-content: space-around;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    font-size: 1em;
    color: #7E7E82;
    max-width: 320px;
}
.content-title__text{
    margin: 1em 1em 2em 1em;
    font-family: "TT Lakes", serif;
}
.list__item{
    display: flex;
    align-items: center;
    width: 238px;
    list-style: none;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    position: relative;
    height: 72px;
    padding-left: 16px;
}
.image-lenovo{
    content: url("image/Lenovo.svg");
    width: 108px;
    height: 32px;
    margin-left: 1em;
}
.image-samsung{
    content: url("image/Samsung.svg");
    width: 116px;
    height: 39px;
    margin-left: 1em;
}
.image-apple{
    content: url("image/Apple.svg");
    width: 44px;
    height: 44px;
    margin-left: 1em;
}
.image-ViewSonic{
    content: url("image/ViewSonic.svg");
    width: 128px;
    height: 21px;
    margin-left: 1em;
}
.image-Bosch{
    content: url("image/BOSCH.svg");
    width: 128px;
    height: 29px;
    margin-left: 1em;
}
.image-hp{
    content: url("image/hp.svg");
    width: 52px;
    height: 52px;
    margin-left: 1em;
}
.image-acer{
    content: url("image/acer.svg");
    width: 94px;
    height: 24px;
    margin-left: 1em;
}
.image-sony{
    content: url("image/Sony.svg");
    width: 128px;
    height: 26px;
    margin-left: 1em;
}
.button-brand {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: background-color .3s,border .3s;
    border:2px solid #FF3E79;
    margin: 1em 1em 1em 0;
    cursor: pointer;
}
.list::-webkit-scrollbar {
    width: 0;
}
.button-hide{
    display: none;
}
.main__description{
    display: none;
}
.swiper-container {
    width: 100%;
    padding-bottom: 16px;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
}
.swiper-pagination-bullet-active {
    background: #B5B6BC;
}
.swiper-pagination{
    left: 100px;
}
.container__button-showMore {
    position: relative;
    font-family: "TT Lakes", serif;
    font-size: 16px;
    background: #F8F8F8;
    border: none;
    font-weight: 500;
    padding-left: 24px;
}
.container__button-showMore::before {
    position: absolute;
    content: url("image/readnext.svg");
    margin-left: -17px;
    cursor: pointer;
}
@media (min-width:768px) {
    .heading__container{
        margin-left: 8px;
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
        max-width: none;
    }
    .list__item{
        display: flex;
        align-items: center;
        width: 224px;
        height: 72px;
        border-radius: 6px;
        border: 1px solid #eaeaea;
        background: #fff;
        cursor: pointer;
        transition: border .3s;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    .main__description{
        flex-direction: row;
        background: #F8F8F8;
    }
    .list::-webkit-scrollbar {
        width: 0;
    }
    .main__description{
        display: flex;
        flex-direction: column;
        background: #F8F8F8;
    }
    .main__read{
        font-family: "Bl Lakes", serif;
        margin:0 6px 0 24px;
        font-size: 16px;
        cursor: pointer;
        display: flex;
    }
    .image-lenovo{
        content: url("image/Lenovo.svg");
        width: 108px;
        height: 32px;
        margin-left: 1em;
    }
    .image-samsung{
        content: url("image/Samsung.svg");
        width: 116px;
        height: 39px;
        margin-left: 1em;
    }
    .image-apple{
        content: url("image/Apple.svg");
        width: 44px;
        height: 44px;
        margin-left: 1em;
    }
    .slider__pagination{
        display: none;
    }
    .swiper-pagination-bullet{
        display:none;
    }
    .swiper-wrapper{
        flex-direction: row ;
        flex-wrap: wrap;
        list-style: none;
        overflow-x:visible;
        margin-left: 8px;
    }
    .swiper-container {
        width: 100%;
        padding-bottom: 0;
    }
    .list-showMore_active {
        height: auto;
    }
    .container__button-showMore:hover {
        cursor: pointer;
    }
    .container__button-showMore {
        display: block;
    }
    .container__button-showMore_active::before {
        transform: rotate(180deg);
    }
}
@media  (min-width:1120px){
    @font-face {
        font-family: TT Lakes;
        src: url('fonts/TTLakes-Light.woff');
    }
    .heading__container{
        justify-content: space-between;
        border-bottom: none;
        width: 1120px;
        margin-left: 8px;
        max-width: none;
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    .main__description{
        background: #F8F8F8;
        width: 1120px;
    }
    .swiper-wrapper{
        flex-direction: row ;
        flex-wrap: wrap;
        list-style: none;
        overflow-x:visible;
        margin-left: 8px;
    }
    .list__item{
        display: flex;
        align-items: center;
        width: 240px;
        height: 72px;
        border-radius: 6px;
        border: 1px solid #eaeaea;
        background: #fff;
        cursor: pointer;
        transition: border .3s;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    .image-ViewSonic{
        content: url("image/ViewSonic.svg");
        width: 128px;
        height: 21px;
        margin-left: 1em;
    }
    .image-sony{
        content: url("image/Sony.svg");
        width: 128px;
        height: 26px;
        margin-left: 1em;
    }
    .main__description{
        display: flex;
        flex-direction: column;
        background: #F8F8F8;
    }
    .main__read{
        font-family: "Bl Lakes", serif;
        margin:0 6px 0 24px;
        font-size: 16px;
        cursor: pointer;
        display: flex;

    }
    .image-lenovo__repetition{
        content: url("image/Lenovo.svg");
        width: 108px;
        height: 32px;
        margin-left: 1em;
    }
    .image-samsung__repetition{
        content: url("image/Samsung.svg");
        width: 116px;
        height: 39px;
        margin-left: 1em;
    }
    .image-apple__repetition{
        content: url("image/Apple.svg");
        width: 44px;
        height: 44px;
        margin-left: 1em;
    }
    .button-hide{
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffffff;
        border:2px solid #FF3E79;
        margin: 1em 1em 1em 0;
        cursor: pointer;
    }
    .swiper-container {
        width: 100%;
        padding-bottom: 0;
    }
    .list__item:nth-child(9),
    .list__item:nth-child(10),
    .list__item:nth-child(11) {
        margin-bottom: 0;
    }
}